;; shadow-cljs configuration
{:source-paths
 ["src/main"
  "src/test"]

 :dev-http {8000 "public"}

 :dependencies
 [[re-frame "0.10.7"]]

 :builds
 {:app{:target :browser
       :output-dir "public/js"
       :asset-path "/js"
       :modules {:main {:entries [Brewfile.app]}}}}}

