{:deps   {:aliases [:dev :test]}

 :nrepl  {:port 7002}
 :builds {:app {:target           :browser
                :asset-path       "js"
                :output-dir       "public/js"

                :modules          {:main {:entries [brewfile.core]
                                          :init-fn brewfile.core/init}}

                :compiler-options
                {:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}
                 :source-map true}

                :devtools         {:http-port 8021
                                   :http-root "public/"
                                   :after-load brewfile.core/clear-cache-and-render!
                                   :preloads [re-frisk.preload]}}

         :test {:target           :browser-test
                :test-dir         "public/js/test"
                :ns-regexp        "-test$"
                :runner-ns        brewfile.test-runner
                :compiler-options {:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}
                                  :source-map true}
                :devtools         {:http-port 8022
                                  :http-root "public/js/test"}}}}

